<!DOCTYPE html>
<html>
<head>
    <title>Create Trello Card</title>
</head>
<body>
    <form action="/" method="post">
        <label for="board_id">Board ID:</label><br>
        <input type="text" id="board_id" name="board_id" required><br><br>

        <label for="list_name">List Name:</label><br>
        <input type="text" id="list_name" name="list_name" required><br><br>

        <label for="name">Card Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="desc">Description:</label><br>
        <input type="text" id="desc" name="desc" required><br><br>

        <label for="due">Due Date:</label><br>
        <input type="date" id="due" name="due" required><br><br>

        <label for="start">Start Date:</label><br>
        <input type="date" id="start" name="start" required><br><br>

        <input type="submit" value="Create Card">
    </form>
</body>
</html>
